apiVersion: apps/v1
name: madmadmad
version: 0.1.0
kind: Deployment
metadata:
  name: dotnet-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dotnet-app
  template:
    metadata:
      labels:
        app: dotnet-app
    spec:
      containers:
      - name: jetspeed
        image: cricketipl.azurecr.io/bathiniarunaks:latest
        ports:
        - containerPort: 5000
